.Footer {
    bottom: 0;
    width: 100%;
    background: $colorFooter;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    color: #FFF;
    font-size: clamp(12px, 1.875vw, 24px);
    font-weight: 500;
    padding-top: 66px;
    padding-bottom: 29px;
}

@media screen and (max-width: $screen-sm) {
    .Footer {
      padding-top: 62px;
    }
}