main {
    flex-grow: 1;
    flex-direction: column;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    max-width: $screen-xl;
}

@media screen and (max-width: $screen-sm) {
    main {
        padding: 0 20px;
    }
}