.carousel {
    width: 100%;
    border-radius: 25px;
    height: 415px;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative; // important pour que le placement des controls soient relatifs au conteneur .carousel
}

.carouselControls {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    display: none;
    height: 100%;

    &.show {
        display: flex;
        justify-content: space-between;
    }

    button {
        background-color: transparent;
        border: 0;
        position: relative;
        cursor: pointer;
    }

    .carouselPrevious {
        transform: rotate(-90deg);
        width: 80px;
    }
    
    .carouselNext {
        transform: rotate(90deg);
        width: 80px;
        right: 0;
    }

    .carouselBulletpoints {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translate(-50%);
        color: #FFFFFF;
        font-size: 18px;
    }
}

@media screen and (max-width: $screen-sm) {
    .carousel {
        height: 215px;
        margin-bottom: 15px;
    }

    .carouselControls {
        .carouselPrevious {
            transform: rotate(-90deg);
            width: 20px;
        }
        
        .carouselNext {
            transform: rotate(90deg);
            width: 20px;
            right: 0;
        }

        .carouselBulletpoints {
            display: none;
        }
    }
}