.dropdown {
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;
	
	.chevron {
		transform: rotate(0deg);
		transition: .3s;
		width: clamp(29px, 2.65625vw, 34px);
		padding: 10px;
	}
	.chevronOpened {
	  	transform: rotate(180deg);
	}
	.dropdownHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 9px 16px;
		color: #FFF;
		background: $colorPrimary;
		border-radius: 5px;
		z-index: 10;
		position: relative;
	}
	.dropdownTitle{
		font-weight: 500;
		font-size: clamp(13px, 1.875vw, 24px);
	}
	.dropdownContent {
		border-radius: 0 0 8px 8px;
		color: $colorPrimary;

		&.dropdownOpened {
			background: $colorSecondary;
			padding: 21px 16px 16px 16px;
			margin-top: -5px;
			flex-direction: column;
			line-height: 25px;
			height: auto;
		}
	}
	.dropdownText {
	  	font-size: clamp(12px, 1.875vw, 24px);
		line-height: 34px;
	}
	.dropdownClosed {
		display: none;
	}

}

@media screen and (max-width: $screen-sm) {
	.dropdown {
		width: 100%;
		margin-bottom: 20px;
		
		.dropdownHeader {
			padding: 2px 16px;
		}
		.dropdownText {
			line-height: 17px;
		}
	}
}
  