.star {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 24px;

    img {
      width: 30px;
      height: 30px;
    }
}

@media screen and (max-width: $screen-sm) {
    .star {
        gap: 5px;
        padding: 0;
        img {
            width: 15px;
            height: 15px;
        }
    }
}