.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 23px;
    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: clamp(10px, 1.4516vw, 14px);
      border-radius: 10px;
      background: $colorPrimary;
      color: #FFF;
      min-width: 115px;
      padding: 2px 10px;
      height: 25px;
    }
  }

  @media screen and (max-width: $screen-sm) {
    .tags .tag {
      min-width: 84px;
    }
  }